body {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* impede scroll lateral */
}

/* Cabeçalho */
.topo {
    background: linear-gradient(90deg, #ffce54, #f6a623);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    position: sticky;
    top: 0;
}

/* Área principal */
.conteudo {
    padding: 20px;
}

/* Lista sempre em cima */
.lista {
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.lista li {
    background: #f7f7f7;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    border-left: 4px solid #f6a623;
}

/* Texto clicável fica embaixo */
.add-text {
    font-size: 22px;
    font-weight: 600;
    color: #f6a623;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: 0.2s;
}

.add-text:active {
    opacity: 0.5;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #fff;
    width: 90%;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
}

.popup-box h2 {
    margin-top: 0;
    text-align: center;
}

.popup-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Botões */
.btn-salvar {
    width: 100%;
    padding: 12px;
    background: #f6a623;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-fechar {
    width: 100%;
    padding: 12px;
    background: #ccc;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
.btn-remover {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 14px;
}
.total {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}
